@model string

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>DisplayMessage</h4>
    <hr />
    @Html.DisplayFor(m => m.ToString())
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
